html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* On mobile devices */
@media (max-width: 768px) {
  .fs-4 {
    font-size: 1rem !important;
  }
  .fs-5 {
    font-size: 0.9rem !important;
  }
  .fs-4.timeframe {
    font-size: 0.8rem !important;
    text-align: end;
  }
}

/* index.html START */

.circle-container {
  width: 200px;
  /* Set the width of the circle (smaller radius) */
  height: 200px;
  /* Set the height of the circle (same as width for a perfect circle) */
  border-radius: 50%;
  /* Make the container circular */
  overflow: hidden;
  /* Hide the part of the image outside the circle */
}

/* On mobile devices */
@media (max-width: 768px) {
  .circle-container {
    /* only this property gets overridden in container1 */
    width: 100px;
    height: 100px;
  }
}

.circle-img {
  width: 100%;
  /* Make the image fill the container */
  height: 100%;
  /* Make the image fill the container */
  object-fit: cover;
  /* Ensure the image covers the circle */
  transform: scale(1.5);
  object-position: center bottom;
}

.banner img {
  position: absolute;
  /* transform-origin: top left; */
  /*transform : translateX(25%);*/
  /* Coincidentally, it looks centered, but not mathematically*/
  left: 50%;
  /* Causes the image to start from the halfway point of the container */
  transform: translateX(-50%);
  /* Moves the image back by 50% of the image width */
}

/* On mobile (screens smaller than 768px), shrink the banner */
@media (max-width: 767px) {
  .banner img {
    /* position: relative; */
    width: 100%; /* Full width on mobile */
    height: auto;
    /* transform: translateX(0); /* Remove horizontal translation if desired */
    transform: translateX(0);
    left: 0%;
  }
}

.container1 {
  position: relative;
  width: 60%;
  overflow: hidden;
}

/* On mobile devices */
@media (max-width: 768px) {
  .container1 {
    /* only this property gets overridden in container1 */
    width: 100%;
    margin-top: 0px;
  }
}

.black-container {
  position: absolute;
  background-color: black;
  height: 200px;
  /* Adjust height */
  width: 100%;
  /* Optional: makes it full width */
  max-width: 100%;
}

/* On mobile devices */
@media (max-width: 768px) {
  .black-container {
    /* only this property gets overridden in container1 */
    width: 100%;
    height: auto;
  }
}

.socials {
  position: absolute;
  right: 2%;
  top: 230px;
  display: flex;
  /* flexbox */
  gap: 20px;
  /* gap between icons*/
}

/* On mobile devices */
@media (max-width: 768px) {
  .socials {
    top: 120px;
    left: 280px;
    gap: 10px;
  }

  .socials img {
    width: 20px;
    height: auto;
  }
}

.nottinghamlogo img {
  height: 100px;
}

@media (max-width: 768px) {
  .nottinghamlogo img {
    height: 50px;
    display: flex;
    align-items: start;
  }
}

.ModelViewer {
  display: flex;
  justify-content: center;
  /* Center based on Height and Width (needed for justify-content;) */
  width: 100%;
  height: 100%;
}

model-viewer {
  /* Actual Height and Width for Model  */
  width: 100%;
  height: 100%;
}

#grabcad img {
  width: auto;
  height: 40px;
}

@media (max-width: 768px) {
  #grabcad img {
    width: auto;
    height: 35px;
  }
}

/* LeetCode's SVG might have an explicit width and height set inside leetcode.svg */
#leetcode img {
  width: auto;
  height: 60px;
}

@media (max-width: 768px) {
  #leetcode img {
    height: 50px;
  }
}

.jetbrainsmono {
  font-family: "JetBrains Mono", monospace;
}

.difficulty_questions_solved {
  color: gray !important;
}

#mckl img {
  width: 50px;
  height: auto;
  position: absolute;
}

#unmc img {
  width: 50px;
  height: auto;
  position: absolute;
}

#keysight img {
  width: 50px;
  height: auto;
  position: absolute;
}

#aerodyne img {
  width: 50px;
  height: auto;
  position: absolute;
}

#comptiasecplus img {
  width: 50px;
  height: auto;
  position: absolute;
}

#cs50x img {
  width: 50px;
  height: auto;
  position: absolute;
}

@media (max-width: 768px) {
  #mckl img {
    width: 30px;
  }
  #unmc img {
    width: 30px;
  }
  #keysight img {
    width: 30px;
  }
  #aerodyne img {
    width: 30px;
  }
  #comptiasecplus img {
    width: 30px;
  }
  #cs50x img {
    width: 30px;
  }
}

.wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px;
  scroll-snap-type: x mandatory;
  /* Adds padding before first snap */
  scroll-padding-left: 0.1rem;
}

/* Container to contain the Models */
.container {
  min-width: 300px;
  height: 400px;
}

/* Scrollable items */
.item {
  min-width: 1000px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  scroll-snap-align: start;
}

.description {
  height: 500px;
  min-width: 550px;
  text-align: justify;
  display: flex;
  margin-right: 500px;
  align-items: start;
  position: relative;
  top: 5px;
  overflow-y: auto;
  padding: 30px;
}

.vertical_separator {
  height: 300px;
  display: flex;
  align-items: center;
  border-left: 1px solid #000;
  /* Black vertical line */
  margin: 20px;
}

.education {
  padding-left: 70px !important;
}

@media (max-width: 768px) {
  .education {
    padding-left: 40px !important;
  }
}

/* LinkedIn Button */
.libutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 200px;
  height: 40px;
  border-radius: 16px;
  background-color: #0a66c2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  font-size: 22px;
}

@media (max-width: 768px) {
  .libutton {
    width: 120px;
    height: 20px;
    font-size: 15px;
  }
}

.linkedinFollowBtn img {
  width: 40px;
}

@media (max-width: 768px) {
  .linkedinFollowBtn img {
    width: 25px;
  }
}

.progress {
  height: 10px;
}

@media (max-width: 768px) {
  .difficulty_questions_solved {
    font-size: 1rem !important;
  }
}

/* index.html END */

/* Individual Projects */

.project_title {
  /* padding-top: 100px; */
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  color: White;
  padding: 50px;
}

.gray-box {
  width: 100%;
  height: 200px;
  background-color: #c0c0c0;
}

.justify {
  text-align: justify;
}

.timesNewRoman {
  font-family: "Times New Roman", Times, serif;
}

/* Timeline Start */
.main-timeline {
  position: relative;
  height: 100%;
}

/* Vertical Line for the timeline */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  /* height: 100%; */
  background-color: lightgray;
  /* margin: 20px; */
  top: 0;
  bottom: 0;
  left: 50%;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.main-timeline.in-view {
  animation: moveline 6s linear forwards;
}

/* Container for the timeline */
.node-container {
  position: relative;
  width: 50%;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.node-container.in-view {
  animation: appear 1s linear forwards;
}

.node-container:nth-child(1) {
  animation-delay: 0.1s;
}

.node-container:nth-child(2) {
  animation-delay: 1.7s;
}

.node-container:nth-child(3) {
  animation-delay: 3.1s;
}

/* Circles on the timeline */
.node-container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -7.5px;
  top: 15px;
  background-color: lightgray;
  /* Make it a circle */
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
}

.left {
  /* Top Right Bottom Left */
  padding: 0px 30px 20px 0px;
  left: 0;
}

.right {
  padding: 0px 0px 20px 30px;
  left: 50%;
}

.right::after {
  left: -7px;
}
/* Timeline End */

/* Individual Projects END */

/* Navigation bar START */

.dropdown-menu {
  margin-top: 0 !important;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  /* Adjusts such that the dropdown menu height is same for both (clicked and hovered) */
  margin-top: 0px;
}

/* Prevents the dropdown from being activated by a click */
.dropdown-menu {
  pointer-events: none;
}

.dropdown:hover .dropdown-menu {
  pointer-events: auto;
}

/* Navigation bar END */

/* Github Repo START */

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

/* For changing arrow direction when it is expanded  */
/* aria-expanded is a universal attribute for dropdowns*/
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle:hover {
  background-color: rgba(196, 255, 196, 0.5);
}

.btn-toggle-nav {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

.background-documentation {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow:
    inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  width: 100%;
  /* margin-left: 280px; */
}

.btn-toggle-nav-items:hover {
  background-color: rgba(196, 255, 196, 0.2);
}

.heading {
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
  font-weight: 500;
}

.code-block {
  color: gray;
  width: max-content;
  height: max-content;
  background-color: #d4fa93;
}

/* Github Repo END */
